<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Atual Legislatura</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <main>
        <div class="field">
            <label for="party">Partido</label>
            <select name="party-group" id="party">
                <option value="0">Selecione o Partido</option>
            </select>
        </div>
        <div class="members">

        </div>
    </main>
    <script src="../public/script.js"></script>
</body>
</html>
